*
{
margin:0px;
padding:0px;
}

.encloser
{
background-color:green;
padding:10px;
}

.lpanel
{
float:left;
padding:7px;
background-color:lightgrey;
}

.rpanel
{
float:right;
padding:5px;
background-color:lightgrey;
}

.eline
{
clear:both;
}

.bassection
{
padding:5px;
margin:5px;
background-color:white;
float:left;
width:200px;
}

.bassectionhead
{
border-color:black;
border-style:solid;
padding:4px;
border-width:1px;
}

.basitem
{
background-color:rgb(14, 116, 175);
padding:5px;
margin:5px;
cursor:pointer;
color:white;
border-radius:4px;
text-decoration:none;
}

.basitem:hover
{
background-color:green;
color:white;
}

form input[type="text"]
{
padding:5px;
margin:2px;
}

form textarea
{
padding:5px;
margin:2px;
}

.btns
{
padding:5px;
}